<h1>Listing Events</h1>


<%= link_to raw('<i class="icon-white icon-plus"></i> New Event'), new_event_path, class: 'btn btn-primary' %>

<table class="table">
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.value, event %></td>
        <td>              
          <%= link_to event, data: { confirm: 'Are you sure you want to delete event '+event.value+ '?  It will delete all associated attendance information with it.', disable_with: 'deleting...' }, method: :delete, class: 'btn-danger btn' do %>
                   <i class="icon-trash icon-white"></i> Delete
                <% end %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

