 <div class="row">
 <% @contacts.each do |contact| %>
    <div class="col-sm-6 col-md-3">
      <div id="contact_thumbnail_<%=contact.id%>" class="thumbnail" style="text-align:center;height:220px;width">
         <%=link_to (image_tag "/contacts/#{contact.id}/image", width:"160", alt:'"+contact.first_name + " " + contact.last_name + "'), contact%>
        <h4><%=link_to raw(contact.first_name + " " + contact.last_name), contact%></h4>
        </div>

   </div>
  <% end if @contacts  %>
  </div>