
<h2>Contacts</h2>
  <ul class="thumbnails">
  <% if @contacts then @contacts.each do |contact| %>
    <li class="span4">
      <div class="thumbnail">
        <%=link_to raw("<img data-src='holder.js/160x120' alt='"+contact.first_name + " " + contact.last_name + "' src='"+contact.pic_url+"' width='120'>"), edit_contact_path(contact)%>
      </div>
        <h4><%=link_to contact.first_name + " " + contact.last_name, edit_contact_path(contact)%></h4>
    </li>
  <% end end %>
  </ul>


