<h1><%=@contact.first_name%> <%=@contact.last_name%></h1>
<%if notice then %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= notice%></p>
</div>
<% end %>
<%= render 'form' %>

