<h1>Editing Date Event</h1>

<%= render 'form' %>


<%= link_to raw('<i class="icon-file"></i> Show'), @date_event, class: 'btn' %>
<%= link_to raw('<i class="icon-backward"></i> Back'), date_events_path, class: 'btn' %>
