<h1>Listing date_events</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @date_events.each do |date_event| %>
      <tr>
        <td><%=date_event.date_event_type.value%></td>
        <td><%= link_to date_event.event_date, date_event %></td>
       <td>
            <%= link_to date_event, data: { confirm: 'Are you sure you want to delete the '+date_event.date_event_type.value+ ' date event on '+date_event.event_date.to_s+'?  It will delete all associated attendance information with it.', disable_with: 'deleting...' }, method: :delete, class: 'btn-danger btn' do %>
                 <i class="icon-trash icon-white"></i> Delete
              <% end %>       
        </td>
  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Date event', new_date_event_path %>
