<!DOCTYPE html>
<html lang="en">
<head>
  <title>LifeteenDatabase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="/"><img src="/assets/favicon.jpg" width="26"/>Lifeteen Database</a>
        <ul class="nav">

            <li class="dropdown">
                <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                    Contacts
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/contacts">Contact List</a></li>
                    <li><a href="/contacts/new.htm">New Contact</a></li>
                </ul>
            </li>
        </ul>
        <form action="/contacts" class="navbar-search">
          <input id="contact-search" name="s" type="text" class="input-medium search-query" autocomplete="off" placeholder="Search Contacts">
        <input type="submit" value="Search" class="btn"/>
        </form>
      </div>
      </div>
    </div>

  <%= yield %>
</div>

<script type="text/javascript">

$.getJSON('/contacts.json', function(data) {
  var contacts = [];
 
  $.each(data, function(key, val) {
    contacts.push(val.first_name + " " + val.last_name);
  });
$("#contact-search").typeahead({
    source : contacts
});
});

var colors = ["red", "blue", "green", "yellow", "brown", "black"];
 
$('#search').typeahead({source: colors});
</script>




</body>

</html>
